{{- if eq ( .Values.controller.apiKey | default "" ) "" -}}
{{- fail "controller.apiKey must be provided" -}}
{{- end -}}

apiVersion: v1
kind: Secret
metadata:
  name: {{ include "chart.name" . }}
  labels:
    {{- include "chart.labels" . | nindent 4 }}
type: Opaque
data:
  apiKey: {{ .Values.controller.apiKey | b64enc }}
